@import "true";


// Define dimention
@mixin size($width,$height){height:$height;width:$width;}
// Define circle radius
@mixin circle($radius){width:$radius;height:$radius;border-radius: $radius/2;}


@include test-module('Utilities') {

  @include test('Size [function]') {
    @include assert('Outputs a font size and line height based on keyword.') {
      @include input {
        @include size(50px,100px)
      }
      @include expect {
        height: 100px;
        width: 50px;
      }
    }
  }

  @include test('Circle [function]') {
    @include assert('Outputs a font size and line height based on keyword.') {
      @include input {
        @include circle(50px);
      }
      @include expect {
        width: 50px;
        height: 50px;
        border-radius: 25px;
      }
    }
  }
}

// Optionally show summary report in CSS and/or the command line:
// - If you use Mocha, reporting to the command line is automatic.
// - if you use true-cli, report(terminal) is required for output.
@include report;