// Component Module - Shortcodes

// Imports component dependencies
@import "helper", "../references/color", "../references/response", "../references/mixin", "compass/css3", "../../vendor/breakpoint-sass/stylesheets/breakpoint";

// Icons imports
@import "../vendor/font-awesome/scss/font-awesome", "../vendor/sass-bootstrap-glyphicons/scss/bootstrap-glyphicons";

// Button
.btn{
  $height: 40px;
  height: $height;
  line-height: $height;
  @include border-radius(8px);
  font-size: 14px;
  @extend .text-uppercase;
  @extend .text-center;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  &:hover{
    @include opacity(0.7)
  }
}

.btn-yellow{
  @extend .btn;
  background-color: $sun-yellow;
  color: rgba(0,0,0,0.6);
}

.btn-blue{
  @extend .btn;
  background-color: $cloudy-blue;
  color: rgba(0,0,0,0.6);
}

//form