// Reference Module - Color variables

// custom variables
$dark-slate-blue: #1f5266;
$cool-blue: #52a9cc;
$cloudy-blue: #b8d0d9;
$light-teal-two: #aae6c8;
$manilla: #ffed85;
$sun-yellow: #ffd519;


// social variables
$fb-primary: #3b5998;
$yt-primary: #e62117;

// default variables
$brand-primary: $dark-slate-blue;
$brand-secondary: $manilla;
$brand-tertiary: $cool-blue;

// grey variable
/*
$grey-01 = #191919;
$grey-02 = #333;
$grey-03 = #4c4c4c;
$grey-04 = #666;
$grey-05 = ;
$grey-06 = #999;
$grey-07 = ;
$grey-08 = #ccc;
$grey-09 = ;
*/